[2013-03-06 22:43] saturnism opened #1 ".always() doesn't fire if there was an uncaught exception in .done() or .fail() callbacks"

[2013-03-07 05:47] #1 closed, assigned to saturnism

[2013-04-07 03:05] saturnism opened #2 "Add an adapter for async-http-client"

[2013-04-07 03:05] saturnism opened #3 "Add an adapter for Guava"

[2013-04-07 18:25] #2 closed, assigned to saturnism

[2013-05-31 15:55] lbovet opened #4 "GWT and bridge to jQuery"
Hello,
Thanks for jdeferred, this is a nice and clean piece that I was missing.
I forked it to add support for GWT:

https://github.com/lbovet/jdeferred/commit/002eac3ac2484562287e3937c5ac30a6bac5aed0

I provided a wrapper to transparently bridge jQuery promises to JDeferred promises which can be really useful for people integrating GWT and jQuery.

I did not submit a pull request because I made a

[2013-07-29 01:59] oravecz opened #5 "wait(timeout)"
Any chance of getting a `Promise.wait(timeout)` function added? This would be a nice addition when the need arises to block while several promises are completing in a DeferredManager. While, you would say that you continue the async tasks in a `dm.then()` handler, there are some situations with some web frameworks where blocking to continue in a synchronous manner are helpful.

[2013-09-01 21:34] #3 closed, assigned to saturnism

[2013-09-12 06:30] #5 closed, assigned to saturnism

[2013-09-26 23:06] landakram opened #6 "jdeferred-parent in MavenCentral is out of date"
I'm trying to include `jdeferred-core` into an android app using gradle like so:

[code]

I get an error when doing `./gradlew clean build`:

[code]

I checked out Maven central, and though it appears that `jdeferred` and `jdeferred-core` have v1.0.1s, `jdeferred-parent` is v1.0.0, which I believe is causing there error.

I worked around it by just using `jdeferred-core:1.0.0` but I thought I'd br

[2013-09-29 23:11] mehiel opened #7 "FilteredPromise does not fail if filterDone fails"
I was trying to do a piped promise and I found out that on .then(DoneFilter) if the code on filterDone method fails with an exception the FilteredPromise does not fail

This happens bacause at [FilteredPromise:41](https://github.com/jdeferred/jdeferred/blob/master/core/src/main/java/org/jdeferred/impl/FilteredPromise.java#L41) we don't catch any exceptions happened in filterDone. This may be by de

[2013-09-29 23:27] mehiel opened #8 "Promise.then(DoneCallback) does not fail if onDone fails"
As a consequence of issue #7 piping seems a little bit broken (according to the jQuery standards again) on Promise.then(DoneCallback). The JavaDoc clearly says that this is equivalent to promise.done but according to piping it should fail if the DoneCallback fails.

This is again may be by design and if you feel this is wrong just close the issue.

[2013-09-30 07:14] #6 closed, assigned to saturnism

[2013-10-15 14:48] saturnism opened #9 "Accept array of callbacks"
Instead of a single callback, add ability to take array of callbacks.

[2013-10-16 14:04] saturnism opened #10 "Returning a promise from a filter and add callbacks to that promise"
This is based on #7 submitted by @mehiel, and his jquery example: http://jsfiddle.net/Bh8TA/1/

from @mehiel

from @paolito

[2013-10-16 15:46] #7 closed, assigned to nobody

[2013-10-16 15:48] #8 closed, assigned to nobody

[2013-10-31 01:12] Premier opened #11 "I'd like use this lib in Android project"
I think this is a very nice job and it will be best used in mobile environment like Android. Please port it to android

[2013-12-07 21:31] #11 closed, assigned to nobody

[2013-12-07 21:32] #10 closed, assigned to nobody

[2013-12-07 21:32] saturnism opened #14 "Create and publish AAR for Android"

[2013-12-11 07:13] saturnism opened #15 "Callback being double called"
With multiple promises, the done callback could be called more than once causing issues similar to https://groups.google.com/forum/#!topic/jdeferred-dev/yU6-aRghfTM

[2014-01-08 17:12] tburch opened #17 "Support for a whenAny method"
Would it be possible to support a whenAny method where you can have several Callables that as soon as one is successfully returned, the DoneCallback with the result is called with the result (and canceling/failing all remaining Callables if they can be canceled)?

Here's a unit test for the use case:

[code]

[2014-01-09 02:31] #15 closed, assigned to nobody

[2014-01-16 04:12] saturnism opened #20 "Promise/A+ Reference Implementation"
Create a Promise/A+ compatible interface/implementation.

[2014-01-23 02:21] #17 closed, assigned to nobody

[2014-01-23 04:27] #14 closed, assigned to saturnism

[2014-02-04 19:42] xeranic opened #23 "ProgressPipe doesn't work"
First, thanks for good work on this library.

I believe there's a problem on ProgressPipe.

deferred.then(null, null, new ProgressPipe<Double, Result, Exception, String> {
  pipeProgress(Double percent) {
    DeferredObject<Result, Exception, String> d = new ...
    d.notify(percent \* 100 + "%");
    return d;
  }
}).progress(new ProgressCallback<String>() {
  onProgress(String progress) {
    //

[2014-02-10 05:09] jonesmz opened #24 "Readme issue"
In the Filter section, you use a P instead of a {.

  public Integer filterDone(Integer result) P
    return result \* 10;
  }

[2014-02-10 05:15] jonesmz opened #25 "AndroidDeferredManager javadoc typo"
On line 137, you say:

If this a non-Android friendly promise is passed in, wrap it with {@link AndroidDeferredObject} so that callbacks can be executed in UI thread.

I think you meant to say

If this is ...

and

... be executed in the UI thread.

[2014-02-12 01:07] #24 closed, assigned to nobody

[2014-02-12 01:09] #25 closed, assigned to nobody

[2014-03-28 02:58] saturnism opened #26 "vertx support"
Provide support for vert.x so that the same paradigm/interfaces can work seamlessly in vert.x

[2014-05-08 19:20] xeranic opened #30 "Enhancement: allow filterDone throw exception."
Currently we cannot throw exception in filterDone, a better approach is capture the exception in FilteredPromise and mark it as rejected. Let me use an example to explain this.

We need to do two things, one is get data through http, the other is convert the data (string) to domain object.

XHR.get(url).then(new DoneFilter<String, DomainObject>() {
    DomainObject filterDone(String data) {

[2014-06-24 13:50] korkag opened #33 "AndroidDeferredObject running callbacks in background thread"
In Android I want to be able to run callbacks in background thread when resolve called from UI thread and AndroidExecutionScope.BACKGROUND passed in constructor. For example if i run this code in UI thread:

DeferredObject deferred = new DeferredObject();
AndroidDeferredObject androidDeffered = new
        AndroidDeferredObject(deferred,AndroidExecutionScope.BACKGROUND);

androidDeffered.then(new

[2014-07-01 13:23] lolive opened #34 "FAQ: how to asynchronously create a chain of deffered."
Hi all.
I am quite newbie with jdeffered terminology.
I will try to tell my problem.
And expect that you can translate it correctly in JDeffered terms.

Use case:
I have a big file containing a list of URLs.
I just have an implemented method called getContentFromTheWeb().
That method accepts a URL string as parameter and return as a String the corresponding content from the Web.

I wish I could us

[2014-07-02 01:29] reinert opened #35 "Fork for a GWT open-source project"
Hi Ray. I've forked the core part of your project to [Turbo GWT](https://github.com/growbit/turbogwt) ([Core](https://github.com/growbit/turbogwt-core)). I'll use it in the [HTTP module](https://github.com/growbit/turbogwt-http), and I had to make a slight change on the AlwaysCalback (instead of just the State, I need a Context with more information). I've kept all the license/credits in the class

[2014-07-18 09:27] sis-yoshiday opened #36 "Android DeferredAsyncTask's progress callback is never called"
Hi, I'm using this library and I like its interface so much.

I have a problem about title.

I can't find out if it is a bug, but I pushed example application at below repos.
https://github.com/sis-yoshiday/Example

Could you give me some advices?

Thanks.

[2014-07-22 03:56] #36 closed, assigned to saturnism

[2014-07-22 03:58] #23 closed, assigned to nobody

[2014-09-09 01:57] jamchamb opened #38 "AndroidExecutionScope doesn't work"
I'm trying to get certain callbacks to run in the background by using AndroidDeferredManager and Android****Callback functions that return AndroidExecutionScope.BACKGROUND in getExecutionScope(), but no matter what the callbacks always seem to execute on the main UI thread.

This is the test I'm using to see which thread the callback is executing on:

[code]

Even using DefaultDeferredManager, the

[2014-11-10 23:23] korkag opened #39 "Cancel functionality"
Cancel functionality is missing:
Missing State.CANCELED with cancel() method and onCancel listener. If promise is in pending state and cancel method was called, move the state to CANCELED, call onCancel method.

[2014-12-19 22:27] MaximusMcCann opened #42 "compile 'org.jdeferred:jdeferred-android:1.2.3' yields jdeferred-core after Gradle sync"
Not sure why.

`compile 'org.jdeferred:jdeferred-android:1.2.3'`
and
`compile 'org.jdeferred:jdeferred-core:1.2.3'`

both pull down jdeferred-core 1.2.3.  AndroidDeferredManager is not present.

![image](https://cloud.githubusercontent.com/assets/1643285/5512064/ae6a3380-87de-11e4-9ff4-fa2b81f8b721.png)

[2014-12-20 04:53] #42 closed, assigned to saturnism

[2014-12-20 04:53] #34 closed, assigned to nobody

[2014-12-20 04:55] #30 closed, assigned to saturnism

[2014-12-20 09:20] MaximusMcCann opened #43 "Usage with network calls, errors swallowed"
Trying to have network calls run with jdeferred, but responses never seem to return and errors are swallowed. Is there a better way to do the below?  This is in an Android lib module, being tested on a junit module.  Side note: the lambdas work on Android using [Retrolambda](https://github.com/orfjackal/retrolambda)

Below uses org.apache.http (had an initial working version with futures from [Asy

[2014-12-22 18:41] #43 closed, assigned to nobody

[2015-01-06 04:49] saturnism opened #44 "Use annotation to indicate whether to run callback in UI thread or Background thread"

[2015-01-06 05:19] saturnism commented on #38
@jamchamb could I trouble you to provide a full example?  thanks!

[2015-01-12 02:48] saturnism commented on #38
mm, i can't seem to reproduce this.  any additional info would be great.  thanks!

[2015-01-12 03:12] saturnism opened #45 "Upgrade to android-maven-plugin 4.1"

[2015-01-12 18:34] jamchamb commented on #38
To clarify, I'm trying to initiate the promise from a UI (main) thread and have my callback functions run in a background thread. For example, I would have something like this in an `Activity` class:
[code]
I can write up a full working example later.

[2015-01-12 21:57] saturnism commented on #38
I see.  Let me give that a try as well.  I've used AndroidDoneCallback and that seemed to work just fine as well..

[2015-01-13 08:50] mccannmax commented on #43
Wondering if there's a way to pull that code in via Gradle?
```compile 'com.ning:async-http-client:1.9.5'``` does not appear to pull it into the project.

[2015-01-13 13:17] mccannmax commented on #43
Ended up wrapping my own inherited from DeferredAsyncTask

[2015-01-14 02:45] saturnism commented on #38
Oh, btw, how did you construct the somePromise?

[2015-01-14 02:50] saturnism commented on #44
this would only work w/ concrete classes - not w/ anonymous/lambdas

[2015-01-14 02:50] #44 closed

[2015-01-14 02:52] #33 closed

[2015-01-16 03:14] #45 closed

[2015-01-28 02:57] mkollinsmith opened #49 "DeferredCallable has different type parameters than Promise/Deferred"
DeferredCallable has type parameters <D, P> while Promises have type parameters <D, F, P> . That means the Deferred in the DeferredCallable has error type "Throwable" instead of a user specified error type.

I'd like to specify my own error type with DeferredCallable. Was this difference intended or is it a TBD? Is there any reason not to add a type parameter for errors in DeferredCallable?

[2015-01-28 03:49] saturnism commented on #49
hiya, Java Callables expects user to throw exception when there is an error.  If you want to use your own error types, you can use a Runnable instead.

Cheers,

[2015-01-28 20:02] mkollinsmith commented on #49
Ah, makes sense, thanks!

[2015-01-28 20:02] #49 closed

[2015-02-10 17:24] mplogas opened #51 "waitSafely does not work as expected"
So, I have a small DeferredAsyncTask
[code]

that is called in a small flow
[code]
When using `waitSafely()` it just hangs. Nothing is written to the logcat, program execution is halted. Implementation seem to be fine according to the documentation. Any ideas?

[2015-02-11 09:01] saturnism commented on #51
@mplogas which sdk version are you using?

[2015-02-11 10:12] mplogas commented on #51
Android: SDK 21, build tools 21.1.2
Java SDK: 1.8u25

[2015-02-14 23:35] ZoserLock opened #52 "Bad spelling in DeferredManager.StartPolicy.MANAUL"
Hi,

i was loking into the code and i believe that

DeferredManager.StartPolicy.MANAUL

should be

DeferredManager.StartPolicy.MANUAL

[2015-02-18 04:43] saturnism commented on #52
oh no =( should've caught this earlier.  will be fixed!

[2015-03-17 04:14] nwertzberger opened #53 "Catching and logging exceptions causes program to not notice."
Hey, when using JDeferred along with a netty-based program, I created a NullPointerException. Unfortunately, the promise i had was never rejected because the deferred object threw a null pointer exception. Here's an example:

    final String str = null;
    deferred.then( () -> otherPromise.resolve(null.size()) );

That nullpointerexception will just be eaten and never keyed off of. The only opti

[2015-03-17 05:50] nwertzberger commented on #53
#54 Is a potential implementation of this.

[2015-03-19 05:55] saturnism commented on #53
@nwertzberger if you use callable or runanble directly, it should already handle exceptions and pass them to the fail callback.  Would that be useful?

[2015-04-08 16:05] ggggl opened #55 "1.2.4 release to maven central?"
Hi, is there a plan to release v1.2.4 to maven central?
I am interested in particular in the memory leak fix that was merged in 2ea5d9.  I can pull the source myself, but it would be great to be able to pull in the jar the usual way via my pom file, etc.

Thanks!

[2015-04-08 16:28] saturnism commented on #55
Hi,

I will take a look. Thanks!
On Wed, Apr 8, 2015 at 18:05 ggggl <notifications@github.com> wrote:

[2015-04-17 13:30] ggggl commented on #55
Hi,
Just following up to find out if/when this might be accomplished?

Thanks again!

[2015-04-19 00:41] saturnism commented on #55
hiya - my bad - 1.2.4 should already be in the repo!
https://maven-repository.com/artifact/org.jdeferred

cheers,

[2015-04-19 00:43] saturnism commented on #55
oh wait it's still in staging for some reason :/

[2015-04-20 16:06] ggggl commented on #55
Right, cool, I see that - do you know when it might be moved out of staging?

Thanks!

[2015-04-22 02:20] saturnism commented on #55
I just re-performed the release - it should be on maven central shortly! Thanks,

[2015-04-22 04:46] saturnism commented on #55
it's there now!

https://maven-repository.com/artifact/org.jdeferred

[2015-04-22 13:28] ggggl commented on #55
Thanks for looking into it -
Is there something I am missing though?  Clicking into the 1.2.4 page, I still see the repo URL as https://oss.sonatype.org/content/repositories/staging/org/jdeferred/jdeferred/1.2.4/

Thanks!

[2015-04-22 17:57] saturnism commented on #55
doh! that seems to be exactly wht happened last time... sorry abt that - let me check again!

[2015-04-22 17:59] kuc commented on #55
But I can download 1.2.4 from Maven just fine - strange...

[2015-04-22 20:04] ggggl commented on #55
It seems to be coming in now, actually - before you tried to re-release I was not finding it, but now I seem to be.  I guess that did work, regardless of the URL I pasted above -

I guess whatever you did worked
thanks!

[2015-05-04 01:22] saturnism commented on #55
=) closing!

[2015-05-04 01:22] #55 closed

[2015-05-05 04:06] sandro-csimas opened #56 "How to chain several promises?"
Using javascript promise libraries like "bluebird" i can return another promise inside "then" and call "then" again with the result of the last promise.
[code]
It is possible to reproduce this example using JDeferred?
Thanks!

[2015-05-06 03:14] sandro-csimas commented on #56
Using DonePipe works!

[2015-05-06 03:14] #56 closed

[2015-05-26 01:27] danielfaust opened #57 "Chained pipes in sequential order"
Hi,
I'm trying to chain multiple pipes.

I'm facing the issue that the second pipe, which the code in block 3, is running in parallel with the block 2.

I know that I apparently would need to pipe the code in block 3 to the promise p2, but that doesn't feel right. Wouldn't it make more sense for p2 to replace p during the DonePipe?

How can I archive what I want, without nesting block 3 into the D

[2015-05-26 11:10] danielfaust commented on #57
Hi, I think I'm starting to understand the problem.

I changed the code a bit and the code below works as expected. Everything is chained and gets run sequentially. The **problem** is that when block 2 causes an **exception**, then **the piped deferred in block 3 won't get executed**. It will jump right into the .always of block 3 replicating the throwable of block 2.

Is that a standard, expected

[2015-05-26 11:39] danielfaust commented on #57
Would it be correct to assume this behavior is expected, because it is my job to take care that the DeferredAsyncTask in block 2 does not throw, ie by handling the exceptions in there, unless is is some kind of really bad exception where I think I need to abort everything, including any piped deferreds which are chained after the exception point? That would at least make some sense.

[2015-05-26 12:13] danielfaust commented on #57
OK, I got it. I hadn't seen the FailPipe (found that through the jQuery docs). So if I add a FailPipe in block 3 and duplicate the DeferredAsyncTask of the DonePipe in block 3, then I can recover from an exception, that is, I can get a "ALWAYS 3 RESOLVED o: done 3 t:null" even if block 2 fails.

That's it, it's a beautiful framework. Just what I was looking for. Thanks a lot.

[2015-05-26 12:13] #57 closed

[2015-05-26 13:32] danielfaust commented on #51
You're deadlocking the application by waiting on the UI thread, and this waiting prohibits the done or fail methods to get called on that thread. I just wonder why no ANR shows up.

[2015-05-26 13:41] danielfaust opened #58 "Passing non-void parameters to the DeferredAsyncTask"
I've been trying to replace the
[code]
with a
[code]
but I can't find a way to make use of that DeferredFlowControl instance named dfcSequence.

I could make the tasks read/write the variables of the dfcSequence directly, but I'm trying to pass that dfcSecuence around as a parameter, as I can do with normal AsyncTasks, by passing it to the AsyncTask.execute(dfcSequence);

Is it possible to do this

[2015-05-26 14:44] danielfaust commented on #58
Hmm, from looking at the code, the AndroidDeferredManager in particular, it appears that void is the only possible parameter ( https://github.com/jdeferred/jdeferred/blob/master/android/library/src/main/java/org/jdeferred/android/AndroidDeferredManager.java#L84 ). This seems to be similar to CodeAndMagic's andoird-deferred-object where the DeferredAsyncTask is also called without parameters ( http

[2015-06-13 20:33] saturnism commented on #58
Hiya - it is the at the moment.  The idea is to specify the type for the Result, Failure, and Progress types - none of which are argument parameter types.

The idea/pattern doesn't exactly rhyme w/ how Async task takes in the argument params.

[2015-06-13 20:33] #58 closed

[2015-06-13 20:34] saturnism commented on #53
after thinking through this a bit, it's important that the exception is caught and dealt w/ the by the callbacks, and propagated to the failure handlers.

[2015-06-13 20:34] #53 closed

[2015-06-24 10:47] yaraju opened #62 "Support for array of Callables/Promises on then (Promise.all)"
If we need to assure execution of all callables before calling the next in line, in a pipe, we have to do this:

[code]

Instead, we should be able to do something like:

[code]

[2015-06-27 14:55] saturnism commented on #62
@yaraju have you used dm.when(c1, c2, c3)?  :) it should just work.

See https://github.com/jdeferred/jdeferred/blob/master/core/src/main/java/org/jdeferred/DeferredManager.java#L166

Thanks!

[2015-06-27 15:04] saturnism commented on #62
oh my bad, I think I misunderstood the request.  I thnk you are looking for a convenience method that is literally a DonePipe that wraps the dm.when(...) calls for you.

However, that will assume the use of its own DeferredManager, which is not preferable - since you may have your own dm that uses your own executor service.

I'd recommend implementing the wrapper in your specific use case - but sh

[2015-06-27 16:36] yaraju commented on #62
@saturnism Yes, I did mean a convenience method for a DonePipe. In ES6-promises, you can chain then() any number of times, forming a pipe.

After some attempts, I realized my snippet wouldn't actually pass on any data to the next function in the then() chain, making it not so useful.

For my purpose, I just went ahead with using a List<FutureTask> and doing a looped "get" on all of them before con

[2015-08-11 04:26] ariefbayu opened #63 "Is AndroidDeferredManager always return MultipleResults in the same order?"
I just need confirmation, from the following snippets:

	findViewById(R.id.button).setOnClickListener(new View.OnClickListener() {
	    @Override
	    public void onClick(View view) {
	        AndroidDeferredManager androidDeferredManager = new AndroidDeferredManager();
	        androidDeferredManager
	                .when(new Callable<Object>() {
	                            @Override

[2015-08-11 06:46] saturnism commented on #63
Hiya,

Current implementation seems to be in the same order - but it should never be assumed in an async system.

[2015-09-12 03:38] #63 closed

[2015-09-29 03:36] capellsk opened #66 "Make jdeferred-android.jar available"
While jdeferred-core.jar is available on Maven, jdeferred-android.jar is not (apklib, etc are there), and there seems to be no other distribution repository. This creates a high barrier to use for those people who don't use Maven.

A related problem is that it's not documented which libraries are needed for an Android App:
jdeferred-core
jdeferred-android
slf4j-api (this one is hard to guess from

[2015-09-30 16:37] saturnism commented on #66
hiya - I thought the jdeferred-android jar is already available on maven central.  in addition to group, artifact, version, have you also specified the type?

http://jdeferred.org/

Thanks!

[2015-09-30 18:14] capellsk commented on #66
Hi Ray,

I don't see it.

http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22jdeferred-android%22

Thanks,
Steve

On Wed, Sep 30, 2015 at 10:07 PM Ray Tsang <notifications@github.com> wrote:

[2015-10-06 08:24] saturnism commented on #66
Ah, I know what you mean. You are right that jdeferred-android.jar isn't available, but if you are building an android app, won't you be able to use either the apklib or the aar archives?

i think i can build the lib as a jar without any resources, etc.  will give it a try, but contribution are welcome!

[2015-10-06 08:39] capellsk commented on #66
I'm relatively new to Android development, but as far as I could figure
out, APKLIB and AAR are not supported by Eclipse without jumping through a
lot of hoops. I followed some advice to unzip the APKLIB and make a library
out of it but I couldn't get it working. Apparently there is a Maven plugin
for Eclipse that allows you to use APKLIB, but for someone who isn't
already using Maven it's unclear

[2015-10-08 13:07] Wattos commented on #39
:+1: I would also advice for a cancel method. The solution above is might not make sense since you cannot reject a promise, only a deferred. The cancel should be on the promise.

In addition, it would probably make sense to have a seperate callback as a rejection usually implies failure not user choice

[2015-10-28 18:34] FreakTheMighty opened #67 "waitSafely - why does this work?"
I opened a question on [StackOverflow](http://stackoverflow.com/questions/33397245/android-instrumentation-run-failed-assertion-error) and have found a solution, but I don't fully understand why it works. The solution appears related to jdeferred, so I thought you might be able to shed light on it.

I am using `waitSafely` to test code that is run in a thread. My broken code looked like this:

[co

[2015-10-29 19:39] saturnism commented on #67
Hiya,

First of all, asserting in the callback probably won't work as expected.  You almost have to store state in a higher level atomic holder (see the JDeferred tests for examples), and then assert based on the holder value.

E.g., if you want to assert something failed, you should:
1. initialize AtomicBoolean failed` to `false` outside of the callbacks
1. in the onFail callback, set an `AtomicB

[2015-10-29 21:06] FreakTheMighty commented on #67
Thanks for the tip. There definitely was some weirdness with the asserts in the callback, however, my latest change seems to work even while keeping them where they are. In one variation, I tried something similar to what you are describing, I moved the variables I was asserting outside of the callback. It did work, but it complicated my test design.

Anyways, thanks for your thoughts.

[2015-10-29 21:06] #67 closed

[2015-11-03 20:32] elFarto opened #68 "Running promises on specific threads"
Hi

I was looking to start using promises to remove the callback hell I've accumulated in my application, but I need to be able to ensure that a promise is run in a specific thread pool.

I had thought that DefaultDeferredManager.when(Promise) would do just that, but in fact it does nothing.

I was thinking you'd need something like this:

[code]

Regards
Stephen

[2016-01-11 04:29] nwertzberger commented on #67
Hey,

I've got a fix for this so it just throws whatever throwable you had once you call .wait() or .waitSafely().

[2016-01-11 21:08] saturnism commented on #67
@nwertzberger would be very much like to see the updates! thanks!

[2016-01-12 01:17] nwertzberger commented on #67
I have a pull request for this.

[2016-01-16 16:37] nwertzberger commented on #68
Wrapping resolutions with a resolver that calls resolve() on a dedicated thread (maybe pulled from an ExecutorService) could be a way to do this.

[2016-02-03 16:33] nwertzberger opened #70 "Make a way to shove extra logging information into the MDC for promises as they resolve"
Logging frameworks have a thing called an MDC. It's a way to store extra metadata that then gets logged with every message in that thread. They use ThreadLocal to implement this. With this move to promises, the thread a request is running on is not often the same one that initiated it.

I propose we add a boolean optional function call on promises, with a static global setter as well, that says to

[2016-02-25 16:03] koloboid opened #71 "How to create rejected promise?"
Hello. Thanks for the project.
So, a little question - how I can create rejected promise? For example:

[code]

Thanks in advice

[2016-02-26 02:25] saturnism commented on #71
hiya! since you aren't using generics, you should be able to return something simple like:
[code]

[2016-02-26 08:11] koloboid commented on #71
Thanks a lot for reply, there are mostly pseudo-code in topic, so without generics.
If you had a few seconds to respond please - is there any call like all()/some() which accepts array of promises? (like Q/bluebird/jquery.when.apply does)

[2016-02-27 21:01] saturnism commented on #71
there is something similar, see if this is what you are looking for:
https://github.com/jdeferred/jdeferred/blob/master/README.md#deferred-manager

You should be able to do something like.. `dm.when(p1, p2, p3).then(...)`

Cheers,

[2016-02-27 21:02] #71 closed

[2016-02-27 21:05] saturnism commented on #68
Hiya,

The `DefaultDeferredManager` can take an `ExecutorService`, and you should be able to use that to execute a `Callable` or `Runnable`. Does that help?

https://github.com/jdeferred/jdeferred#deferred-manager

[2016-02-27 21:07] saturnism commented on #66
hiya! i haven't forgotten this yet. i think what i can do is in the `android` modules, create `library-apk`, `library-aar`, and then just `library` that produces the jar file. I'm not 100% sure if that'll work out of the box like that though.

[2016-02-27 21:13] saturnism commented on #51
eak yeah.. sorry it was there mostly for testing purposes and when the deferred tasks were executing on a different thread. waitSafely should probably be removed from AndroidDeferredManager, or warn that it shouldn't be used.

[2016-02-27 22:00] elFarto commented on #68
In theory it should, but it doesn't appear to work as expected. I would expect this to print 'got result' on a different thread to the one that prints 'resolving', but they execute on the same thread, and a stack trace shows both methods on the stack. The situation I would need to use this in would requires that I don't process the callbacks in the thread that's doing the resolving, I have another

[2016-03-16 04:03] C4Phone commented on #44
[shamelessplug]If anyone is interested in this feature, I tried to implement [a type-safe one](https://github.com/C4Phone/ActionChain) by oneself.[/shamelessplug]

[2016-03-19 01:44] sandro-csimas commented on #38
The same here. Passing AndroidExecutionScope.BACKGROUND execute callback in main thread. I'ts very simple to reproduce.

[2016-03-19 01:56] sandro-csimas commented on #38
The same here, callback is always executed in MAIN THREAD.
I'm using AndroidDeferredObject with AndroidExecutionScope.BACKGROUND.

[2016-03-20 22:39] NomNuggetNom commented on #62
I'd love this feature too. I love ES6's syntax for this.

[2016-03-22 06:58] tyteen4a03 opened #72 "Notify progress"
How do I notify the progress from a Deferred object? I have the following code:

        Deferred<String, Exception, String> d = new DeferredObject<>();
        Promise<String, Exception, String> p = d.promise();
        new Thread(() -> {
            for (String name : names) {
                String expensiveOperationStepOutput = reallyExpensiveFunction(name)
                d.notify("Actual not

[2016-03-26 04:59] saturnism commented on #72
Hiya,

That's interesting - I've a feeling that the notify already finished by the time p.progress(...) was called. If you put a sleep within the for loop to slow it down you should see it (and you shouldn't do it aside from testing to see it's actually being called).

Could I trouble you to give that a try to validate?

Thanks,

[2016-03-26 05:00] saturnism commented on #70
Hiya - could I trouble you to propose the actual method signatures? Let's see how we can seamlessly add this - it sounds very useful to debug concurrent processes.

[2016-04-12 20:03] saturnism commented on #72
please reopen if you were having more issues. thanks!

[2016-04-12 20:03] #72 closed

[2016-04-16 12:59] puntogil opened #73 "Source files without license headers"
Hi
The following source files are without license headers:
./android/test/src/main/java/org/jdeferred/android/test/AndroidDeferredManagerTest.java
./android/test/src/main/java/org/jdeferred/android/test/MainActivity.java

./core/src/main/java/org/jdeferred/DeferredRunnable.java
./core/src/main/java/org/jdeferred/DeferredCallable.java

Please, confirm the licensing of code and/or content/s, and add

[2016-04-30 14:30] saturnism commented on #73
Thanks for the note - yes these files are all Apache 2.0 licensed. I'll fix this.

[2016-04-30 14:32] saturnism opened #74 "Generate documentation w/ AsciiDoctor"
Move documentation to AsciiDoctor, and framework to be able to add extensive tutorials and examples.

[2016-04-30 14:33] saturnism opened #75 "Add Uncaught Exception Handler"
In DeferredManager, add ability to register a catch all uncaught exception handler. In case any Throwable was uncaught, pass it to the handler.

Applications should always try to handle known exceptions in the fail() handler explicitly. This is as a last-resort fallback.

By default, the handler will log the uncaught exception.

[2016-04-30 14:34] saturnism opened #76 "Add Promises utils"
Add Promises utils based on https://github.com/jdeferred/jdeferred/pull/69

[2016-05-02 14:57] lkho commented on #39
i've made a customization based on my needs/understanding: https://github.com/lkho/jdeferred/commit/0d233d3445df8d74a4c272524bf554bd190d809a
this also includes https://github.com/jdeferred/jdeferred/pull/50

hope this is useful

[2016-05-05 16:11] aalmiray opened #77 "JDeferred needs an icon/logo"
We can use this icon/logo on the website and other places where JDeferred appears.

[2016-05-13 19:43] sandro-csimas commented on #38
@saturnism, i'm using this way:
[code]
I create a class that handle responses from my backend server called RequestPromise
[code]
Activity:
[code]

[2016-05-13 20:28] sandro-csimas commented on #38
Looking the code:
[code]
The "else" code should not ensure that the code will run on background?

[2016-05-19 00:31] FrankSalad commented on #20
Specifically, handling of exceptions thrown by the done handler is totally different compared to the [A+ spec](https://promisesaplus.com/#point-42).  According to the spec, if the done handler throws an exception, it should be propagated to the failure handler.

[code]

This is not the case in jdeferred. if the DoneCallback throws an exception, [it's logged to the console](https://github.com/jdefe

[2016-05-20 08:15] saturnism commented on #20
Hi Bin! I'd love to see if we can implement this!
On Thu, May 19, 2016 at 2:31 AM Francisco Saldaña <notifications@github.com>
wrote:

[2016-09-01 11:14] kykrueger opened #78 "jdeferred-android-aar is missing android directory"
When using 'org.jdeferred:jdeferred-android-aar:1.2.4', I cannot make includes to files in the android directory.

For example, the AndroidDeferredObject is not found. I have a workaround in place that takes the source code from this library and includes it in my project, but it would be ideal to just use the aar dependency.

Any idea how this could happen, and is this library still being supporte

[2016-09-11 20:37] saturnism commented on #78
that's interesting - the AAR is here: https://mvnrepository.com/artifact/org.jdeferred/jdeferred-android-aar/1.2.4

Do you know if including APKLIB would work better?
https://mvnrepository.com/artifact/org.jdeferred/jdeferred-android/1.2.4

Thanks,

[2016-09-17 06:07] johneke opened #79 "How to wait till all promises complete"
I currently have code like this:

[code]

I am noticing that right away `onFail` gets called and `onAlways` gets called, since the first promise is rejected. It doesn't matter that all other promises in the chain are pending.

This is fine, but is there any way I can wait for all promises in the deferred manager to resolve/reject? And then collect them all together? I am looking for something simi

[2016-09-21 17:58] saturnism commented on #79
This sounds like a good enhancement!

[2016-09-21 18:18] johneke commented on #79
Haha sounds good, I assumed it was possible and I just didn't know how to do it.

Ill work on a PR! Thanks!

[2016-11-02 16:56] saturnism commented on #39
Thanks @aalmiray!! This will be in for the next release!

[2016-11-03 14:50] saturnism opened #82 "Add Travis CI"

[2016-11-04 00:02] #82 closed

[2016-11-04 18:32] AbdelRahmaneB opened #84 "Add a jdeferred waffle"
A good tool to complement GitHub Issues with Kanban board functionalities :
https://github.com/waffleio/waffle.io

[2016-11-15 18:43] madmas opened #86 "Convert build to gradle"
jdeferred should be build with gradle

PR will follow :)

[2016-11-15 19:38] saturnism commented on #86
:) I think Andres is working on this also!
On Tue, Nov 15, 2016 at 7:43 PM Markus Schlichting <notifications@github.com>
wrote:

[2016-11-15 19:52] aalmiray commented on #86
yup, @madmas is sitting right in front of me at Hackergarten Basel 😏

[2016-11-22 17:01] saturnism commented on #66
@aalmiray fyi - i think we can also produce jdeferred-android.jar in addition to aar and apklib.

[2016-11-22 17:07] saturnism opened #88 "Add a cancellable convenience method"
Add a convenience method to DeferredManager to easily create CancelablePromise. To avoid conflicts in semantics w/ the existing `when` methods, propose to add `cancelable` method:

[code]

[2016-11-22 17:08] saturnism commented on #88
/cc @aalmiray

[2016-11-22 20:32] saturnism commented on #88
Maybe this should be part of 1.3 since it will introduce a new signature to the interface. On the other hand, it won't break anyone who didn't implement their own `DeferredManange`r.

[2016-11-23 16:06] aalmiray commented on #75
Related to #54

As I understand it, exceptions get recorded as the *rejected* value when the body of the promise throws an exception. This exception is sent to the *FailureCallback* if such callback is registered. This means handling exceptions that may occur during the task part of a promise is already managed.

What's missing is the case when unchecked exceptions occur during the following callb

[2016-11-28 10:40] aalmiray opened #90 "Remove unnecessary visibility modifiers from interfaces"
Interface methods & members are `public` by default yet almost every interface in the project applies this modifier.

[2016-12-09 15:48] Anix-PasBesoin commented on #73
Has this bug been fixed?

[2016-12-09 16:02] puntogil commented on #73
NO

[2016-12-09 18:16] aalmiray commented on #73
It's fixed with #89. Pending review by @saturnism

[2016-12-09 22:00] saturnism commented on #73
Will get on this!
On Fri, Dec 9, 2016 at 10:16 AM Andres Almiray <notifications@github.com>
wrote:

[2016-12-12 23:38] saturnism commented on #86
Closed by #89

[2016-12-12 23:38] #86 closed

[2016-12-12 23:39] saturnism commented on #73
Closed by #89

[2016-12-12 23:39] #73 closed

[2016-12-12 23:39] saturnism commented on #66
closed by #89

[2016-12-12 23:39] #66 closed

[2016-12-13 03:08] capellsk commented on #66
Thanks!

[2016-12-13 06:25] saturnism commented on #78
if this was in fact an issue, it should also've been fixed by #89

[2016-12-13 06:25] #78 closed

[2016-12-13 06:36] kykrueger commented on #78
Sorry, I had missed the last update to this issue.
There was a workaround I had done for the problem by downloading the source code and including it in my project.
I will check if that is still necessary in 1.2.5, is it released now?

[2016-12-13 06:38] kykrueger commented on #78
Also, it looks like the APKlib would have also worked as a fix. It seems to include the missing files in the android directory.

[2017-02-07 15:30] saturnism opened #94 "ES6 Promise"
Investigate ES6 promise for JDeferred 2

[2017-02-14 22:19] Gloix opened #97 "Can't import some classes in the 1.2.5 release"
I imported the gradle dependency in its version 1.2.5 and tried to declare a `Deferred` object, but Android Studio couldn't import the proper class. I tried the jar and aar versions but none of them seemed to work. I then used version 1.2.4 and now I get the `Deferred` class imported properly.

Note however that I could import the `DeferredAsyncTask` class, however the main types are not visible.

[2017-02-15 07:10] aalmiray commented on #97
Which dependencies did you define for 1.2.5? AFAIK IntelliJ (Android Studio anyway) should show dependencies on the project explorer (left sidebar) allowing you to look inside the JAR files. Are you able to sot the `Deferred` class inside the JARs?

[2017-02-15 14:02] Gloix commented on #97
By importing with `compile 'org.jdeferred:jdeferred-android-aar:1.2.5'` or `compile 'org.jdeferred:jdeferred-android-aar:1.2.5@aar'`:
![image](https://cloud.githubusercontent.com/assets/5000394/22977365/225bd1b2-f36d-11e6-9bbc-eb923af1f160.png)

By importing version 1.2.4 with `compile 'org.jdeferred:jdeferred-android-aar:1.2.4'`
![image](https://cloud.githubusercontent.com/assets/5000394/22977605

[2017-02-15 14:11] aalmiray commented on #97
I see. The pom for jdeferrrd-android-aar does not define any dependencies at all. @saturnism there's a commented section found in the subprojects build file (lines 157 - 163) that should do the trick.

In the meantime, a workaround is to explicitly add a dependency to jdeferred-core-1.2.5 to your build file.

[2017-02-20 21:00] saturnism commented on #97
@aalmiray ptal at the PR. Thanks @Gloix for spotting this.

[2017-02-20 22:09] #97 closed

[2017-03-09 16:07] dalibor983 opened #101 "JDeferred 1.2.5 android not working"
In android 1.2.5 version throws this error:
[code]

I think this happens because the source is compiled with java 1.8 target compatibility but I use 1.7 in my android application.

I cannot switch my project to 1.8 because that requires jack compiler to be enabled but jack compiler is currently has some issues with android data binding. Until this issues are resolved I cannot switch my project to

[2017-03-09 16:30] aalmiray commented on #101
@saturnism I recommend releasing 1.2.6 asap as this and #97 affect Android users.

[2017-03-15 10:44] #101 closed

[2017-03-21 20:14] Gloix opened #103 "Updatable deferred"
I'm using a database that can push modifications to the client whenever data changes. It would be great to have a deferred object (or something alike) that can be resolved multiple times, in this case for every database update.

I found an Angular library that does this by adding `update()` and `mistake()` methods to deferreds.

DeferredWithUpdate.js
https://github.com/bennadel/DeferredWithUpdate.

[2017-04-14 06:00] tramchamploo opened #105 "Feature request: DefaultDeferredManager.when returns MultipleRejects"
I want to know exactly which deferred resolved or rejected. Seems it can't be achieved now.

[2017-04-15 00:23] saturnism commented on #105
@tramchamploo thnx for the request! jdeferred semantic is based on jquery's deferred object semantic.

it'd be great if you could help propose what a new semantic should be for this, since if it needs to return multiple rejects, it'll have to wait for all promises to finish. I feel this may be similar to promises.all(...), similar to this:
https://github.com/jdeferred/jdeferred/pull/92/files#diff-

[2017-04-17 08:27] tramchamploo commented on #105
Since the all(...) method is assign to a different feature, it's really hard to think up a new semantic for this. So es6 doesn't have this feature yet?

[2017-04-24 04:00] tramchamploo opened #107 "Feature request: Adding a get() method for blocking get result."
Can't blocking get result in one statement.

[2017-04-24 09:19] aalmiray commented on #107
Actually I'd say this would be the wrong thing to do. If you need a blocking "promise" _and_ if you're able to use Java8 then please try `CompletableFuture` instead.

[2017-04-24 09:20] aalmiray commented on #103
What about publishing intermediate results with `notify()` and registering a `ProgressCallback` on the promise?

[2017-04-24 13:01] aveuiller opened #108 "Version 1.2.6 on maven central ?"
Hello,

It would be nice to have access to this library on Android, do you plan to release the next snapshot soon?

Thanks. :)

[2017-04-25 06:04] xin-zhang commented on #108
I'm hoping to see 1.2.6 coming out soon too.
Really would like to use it in my project.

[2017-05-03 07:31] aveuiller commented on #108
For those interested, I uploaded the 1.2.6 artifact under another group id while waiting for the official release: https://search.maven.org/#search%7Cga%7C1%7Cio.apisense.jdeferred

[2017-05-03 15:12] saturnism commented on #108
Hiya! apologies for the delay here. Thanx @aveuiller! I'll get this out soon :)

[2017-05-03 15:15] saturnism commented on #105
Here is an experimental implementation around es6 semantics:
https://github.com/jdeferred/jdeferred/pull/92/files

IIRC, the `all` semantic is also failing fast.

[2017-05-08 20:50] sgwerder opened #109 "Improve "Quick Examples" with more lambda showcase"
Show a side-by-side comparison of lambda support in all "Quick Examples" viewable at http://jdeferred.org.

Or atleast highlight the lambda section by moving it up.

[2017-05-10 21:11] Gloix commented on #103
I guess that is a solution, but it's not enough for what I need. I have to join multiple sets of data that are queryed asynchronously and I can only show results to the user when data is finally joined. For that I use a DeferredManager instance that waits until all promises are done. BUT data can change after the compiled list is shown and since I cannot re-resolve deferreds I have to do some tric

[2017-06-03 00:45] Gerst20051 commented on #108
thanks patiently waiting! @saturnism

[2017-06-03 05:26] saturnism commented on #108
apologies for the delays. :) it's been pushed to bintray, and sync'ing w/ maven central.

[2017-06-03 05:34] saturnism commented on #109
hiya, please take a look at the PR. Thanks!

[2017-06-05 02:50] saturnism commented on #109
hiya! moved the section up a bit. would love to get your input/PR on more examples.  Cheers!

[2017-06-06 17:34] saturnism commented on #108
it should be there now, cheers!  @aveuiller thnx again for jumping in to help as well! really appreciate it.

[2017-06-06 17:34] #108 closed

[2017-06-06 18:42] Gerst20051 commented on #108
thanks @saturnism

[2017-06-07 09:42] tbee opened #112 "MultipleResults is not type safe"
When I sync two or more calls, the results are not provided in a type safe manner, and casting is needed:

[code]

Other libraries have elected to use an API that is type safe, like RxJava:

[code]

It would be nice if JDeferred also would be type safe, at least for common numbers of calls, like 2, 3, 4 and 5 or so.

[2017-06-07 09:46] tbee opened #113 "With multiple results it is hard to access the cause of the failure"
On normal calls, the fail method has the exception as the parameter. When syncing multiple calls, the fail method returns a OneReject instance. But it is not easy (if even possible) to access the exception causing the failure through that instance.
https://github.com/jdeferred/jdeferred/blob/master/subprojects/jdeferred-core/src/main/java/org/jdeferred/multiple/OneReject.java

[2017-06-07 09:50] aalmiray commented on #112
Interesting suggestion. This would make the `DeferredManager`'s current API grow by a factory of 4 in order to support  2, 3, 4, 5, and 6+ arguments.

Currently most methods define varargs, this means they can be called with 0 or 1 elements too, must check if constraints (such as least 2 args have been supplied) are in place in the default implementation.

I suppose the 6+ variation will support t

[2017-06-07 18:56] saturnism commented on #112
Makes sense. I wonder if there are easier way to implement it without too
much boilerplate. Would be interesting to explore
On Wed, Jun 7, 2017 at 12:50 PM Andres Almiray <notifications@github.com>
wrote:

[2017-06-07 18:58] saturnism commented on #113
Ah, it feels like OneReject should have the rejection type as a generic.
Would that help w better type safety?
On Wed, Jun 7, 2017 at 12:46 PM Tom Eugelink <notifications@github.com>
wrote:

[2017-06-08 07:30] tbee commented on #113
This is not about type safety; I just want to know what caused the fail to be called. The 'normal' fail gets the causing exception as a parameter, where is it hidden here?

[2017-06-08 08:54] saturnism commented on #113
Iirc, It should be in the OneReject.getReject()

But you do need to an instanceof and then casting it
On Thu, Jun 8, 2017 at 10:30 AM Tom Eugelink <notifications@github.com>
wrote:

[2017-06-08 09:18] tbee commented on #113
Ok. I see. And I see that the other fail method also has a parameter of type Object. Isn't that always a Throwable or Exception?

[2017-06-08 14:44] saturnism commented on #113
not quite, you can reject with a non-Exception. E.g., deferred.reject("failed")

However, if you let DeferredManager to create a promise from a Callable, then the rejection is always an Exception.

[2017-06-08 15:05] tbee commented on #113
Ok! With the javascript roots I get that. I would have wrapped that reject in an exception so the API would be identical. Butthat explains it. Thanks.

[2017-06-10 14:24] sgwerder commented on #109
I think it looks good.

[2017-06-21 12:02] saturnism opened #115 "JDeferred 2.0 - Roadmap"
- [x] Cancellable - See #88 #98 #39 #123
  - [x] Core library
  - [x] Android library
  - [x] Javadocs
  - [x] Update README & Site
- [x] Move some types to package visible but not public - See #90
- [x] Type-safety up to 5 arguments - See #114, #113, #112 @aalmiray
  - [x] Core library
  - [x] Android library
  - [x] Javadocs
  - [x] Update README & Site
- [x] Global uncaught exception handler -

[2017-06-21 12:12] saturnism commented on #109
thnx!

[2017-06-21 12:12] #109 closed

[2017-06-21 12:19] saturnism commented on #107
closing for now

[2017-06-21 12:19] #107 closed

[2017-06-21 12:19] #52 closed

[2017-07-09 06:32] #103 closed

[2017-07-09 06:33] Gloix commented on #103
I recently discovered the world of reactive programming, which was what I needed, so I'll leave this closed.

[2017-08-06 15:52] mrmaffen commented on #79
done https://github.com/jdeferred/jdeferred/pull/118

[2017-09-08 12:23] roastduck commented on #38
I found that in `DefaultDeferredManager`, only `Callable`s and `Runnable`s are submitted to the `ExecutorService` to be executed in other threads. So I guess normal `Promise`s can only be run from main thread? Am I right? Then how should I get `Promise`s run asynchronously?

[2017-09-09 18:37] saturnism commented on #38
A `Promise` doesn't run - it's just a way to pass the state.  I.e., `dm.when(p)` is simply waiting for the promise state to change.  Something else would've executed (preferably in a different thread), uses a `DeferredObject` to pass signal, and returns the `Promise` to the caller.

[2017-09-10 03:54] roastduck commented on #38
How should I run that `Promise`?

[2017-09-10 20:40] saturnism commented on #38
A promise isn't something you can run. Think of it as a `Future`.  I.e., you can't run a `Future`. Something else runs and returns a promise to the caller.  When that task finishes, it signals the promise.

For an example of this, please see https://github.com/jdeferred/jdeferred#runnable-and-callable and the "using your own Deferred object".  Thanks!

[2017-09-10 20:50] saturnism commented on #115
@aalmiray I feel some of these things were done in the last 2.x branch merge. I updated the list, PTAL.

[2017-09-10 22:43] saturnism commented on #115
@aalmiray the exceptions handlers needs to be registered with every promise, specifically in AbstractPromise in the triggerXYZ() methods. If we pass the reference in a constructor, that'll mean every subclass will have to get it and will change a lot of signatures. Moreover, promises that aren't created by DeferredManager won't register.

Alternatively, we can have a static global class that holds

[2017-09-11 08:00] aalmiray commented on #115
The problem with a static global location is thread-safety and synchronization. We could "cheat" by using `ThreadLocal` but can't guarantee it will work 100% of the times. My MO when braking APIs between major versions is "if we're going to break compatibility we do it in the most spectacular way in order to ensure a better API, that is, sometimes we have to burn bridges while supplying fusion pow

[2017-09-24 19:38] saturnism commented on #115
on the other hand, associating it to every deferred object might be too much for a crosscutting concern though. let's discuss more at baselone 😄

[2017-10-18 14:46] bagage opened #124 "SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder"."
I started an empty Android project and added only a new dependency in `build.gradle`:

[code]

Then I simply added the following statement in `MainActivity.java`:

[code]

As soon as the last line is executed, you'll see the following in logs:

W/System.err: SLF4J: Defaulting to no-operation (NOP) logger implementation
W/System.err: SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for

[2017-10-19 21:56] saturnism commented on #124
Hi @bagage!  You haven't done anything wrong - but you may want to refer to https://www.slf4j.org/codes.html#StaticLoggerBinder to see the resolutions.

To avoid any kind of class conflicts and logger conflicts, JDeferred does not include any logger libraries.  We do use SLF4J as the primary logging interface, but SLF4J needs to use an actual Logger library.  If none is in your classpath, SLF4J fa

[2017-10-20 07:52] bagage commented on #124
Thanks @saturnism for the detailed clarification, it's good to be be sure I wasn't doing anything wrong with jdeferred! Since I don't care much about jdeferred logs, I simply *explicitly* added a dependency to `slf4j-nop` together with `jdeferred`:

[code]

And now warnings are gone. Hourray! Thanks again :).

[2017-10-20 07:52] #124 closed

[2017-10-23 10:19] aalmiray opened #129 "Consider adding a timeout when submiting a task"
Take the following example

    Promise<List<Person>, Throwable, Void> promise = deferredManager.when(() -> {
        HttpClient client = ...
        Response response = client.get(...);
        return response.body();
    });

This task could take a long time to resolve its value. One could argue thew task may have it's own timeout mechanism (if the HttpClient supports it), but what if it doesn't

[2017-10-23 10:22] aalmiray opened #130 "Consider adding a delay to an auto-submitted task when submitting"
Related to #129, it would be great to submit a task with a given delay using an amount paired with a `TimeUnit`, and potentially a `Duration`.

[2017-10-23 14:44] aalmiray commented on #129
Perhaps the builder pattern may be applied to avoid an explosion of methods in `DeferredManager` (which already contains quite a good number due to type safety concerns). What if there were a type (better name pending) with the following API:

    promiseScheduler.withDelay(Duration.of(2, TimeUnit.SECONDS))
                    .withTimeout(Duration.of(10, SECONDS))
                    .when(r1, r2

[2017-10-26 02:13] saturnism commented on #88
This is superseded by #126

[2017-10-26 02:13] #88 closed

[2017-10-26 02:14] saturnism commented on #79
This is added in #128, cheers!

[2017-10-26 02:14] #79 closed

[2017-10-26 02:19] saturnism commented on #113
Sounds like we were good. Closing for now :) Thanks!

[2017-10-26 02:19] #113 closed

[2017-10-26 02:20] saturnism commented on #112
This is done in #116, cheers!

[2017-10-26 02:20] #112 closed

[2017-10-26 02:21] saturnism commented on #105
This should be addressed by #128, ptal!

[2017-10-26 02:21] #105 closed

[2017-10-28 21:05] saturnism commented on #38
Closing for now. Thanks!

[2017-10-28 21:05] #38 closed

[2017-10-28 21:05] saturnism commented on #39
This was done in #126 Cheers!

[2017-10-28 21:05] #39 closed

[2017-10-28 21:16] saturnism commented on #62
we added "settle" semantics in #118 ptal!

[2017-10-28 21:24] aalmiray commented on #129
Btw, JDK9 added delay and timeout to `CompletableFuture`.

[2017-10-28 21:25] saturnism commented on #115
@aalmiray regarding the convenience method, the best I have so far is Promises.resolve(...) and Promises.reject(...).  I can't think of anything else at the moment. Should we still include it?

[2017-10-28 21:28] aalmiray commented on #115
I think so, as it's the only way to support resolved/rejected promises with `Iterable` for example. that way there's no longer a need to update the current impl to be able to handle a resolved value, as it'll be wrapped with a Promise 😄

[2017-10-28 21:40] saturnism commented on #115
Do you feel it should be part of `DeferredManager`, or, a new class w/ static methods, e.g.`Promises`?

[2017-10-28 21:44] aalmiray commented on #115
My gut feeling tells me it should be part of `DeferredManager` for now, as that's the place where `Promises` are created, other than explicit construction via `DeferredObject`. There are only 2 methods for now, don't think that warrants a `Promises` or `PromiseUtil` utility class just yet. If it comes to that, we can re-route DM to the utility class at a later stage.

[2017-10-28 21:53] aalmiray commented on #75
Fixed with #131

[2017-10-28 21:53] #75 closed

[2017-10-28 21:58] aalmiray commented on #9
What's the status for this one? The availability of lambda expressions make it easier to define callbacks on the spot.

	List<DoneCallback<Integer>> dones = ...
	Promise<Integer, Throwable, Void> promise = ...
	for(DoneCallback<Integer> d : dones) {
	    promise = promise.done(d);
	}

vs.

	List<DoneCallback<Integer>> dones = ...
	Promise<Integer, Throwable, Void> promise = ...
	promise = promise.

[2017-10-28 21:59] saturnism commented on #62
but, you'll still need to wrap w/ a DonePipe. At the moment I don't see a clean way to provide convenience method to create the DonePipe itself.  Thanks!

[2017-10-28 21:59] #62 closed

[2017-10-28 22:04] saturnism commented on #70
Quick ping, could def use help here for 2.x :)

[2017-10-28 22:07] saturnism opened #137 "Add @since to mark new classes and methods introduced in 2.0"

[2017-10-28 22:09] aalmiray commented on #70
calculating MDC is what kills logging frameworks btw

[2017-10-28 22:12] aalmiray opened #138 "DeferredFutureTask and global CallbackExceptionHandler"
`DeferredFutureTask` has a pair of TODOs stating the need of re-routing an exception through `CallbackExceptionHandler`.. Problem is, the exception may occur during `resolve` or `cleanup` thus they do not occur under any of the 4 types of callbacks currently handled by CEH.

[2017-10-28 22:14] saturnism commented on #138
Good thing I renamed the global exception handler to CallbackExceptionHandler.  We can have a CancellationExceptionHandler?

[2017-10-28 22:22] aalmiray commented on #138
Then this block may not be needed https://github.com/jdeferred/jdeferred/blob/2.x/subprojects/jdeferred-core/src/main/java/org/jdeferred/DeferredFutureTask.java#L180-L183

[2017-10-29 00:15] aalmiray opened #140 "Thorough check on nullable/non-nullable arguments"
For example `DeferredRunnable(StartPolicy)` does not check if its argument is null or not, perhaps assign a default value just like `DeferredCallable` does.

It might be a good idea to state the `nullability` of arguments and return types. This has been done in part in `DeferredManager` on the type safe versions of `when`, `race`, and `settle`.

[2017-10-29 18:26] saturnism commented on #137
done in #139

[2017-10-29 18:26] #137 closed

[2017-10-29 18:26] saturnism commented on #76
Done in #136

[2017-10-29 18:26] #76 closed

[2017-10-29 19:53] aalmiray commented on #90
I believe we've covered this with the latest commits posted to the `2.x` branch

[2017-10-29 19:53] #90 closed

[2017-10-31 22:20] sclassen opened #143 "DeferredPromise can be simplified by extending DelegatingPromise"
Almost all code from DeferredPromise can be deleted when the class extends DelegatingPromise.

There is a side effect to this change:
- DeferredPromise will inherit the protected method `Promise<D, F, P> getDelegate()` from DelegatingPromise. Currently the promise is private and therefore not accessible outside of the DeferredPromise.

[2017-11-04 08:34] rgra opened #145 "Doc points to core for Maven but Android for Gradle"
The Website http://jdeferred.org/ point to the core version for Maven but to Android Version for Gradle. That is confusing.

<dependency>
    <groupId>org.jdeferred</groupId>
    <artifactId>jdeferred-core</artifactId>
    <version>${version}</version>
</dependency>

compile 'org.jdeferred:jdeferred-android-aar:${version}'
// or
compile 'org.jdeferred:jdeferred-android-aar:${version}@aar'

[2017-11-07 16:35] aalmiray opened #146 "Configure auto-module on JAR Manifest"
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/ProTip?src=hash&amp;ref_src=twsrc%5Etfw">#ProTip</a> from <a href="https://twitter.com/Sander_Mak?ref_src=twsrc%5Etfw">@Sander_Mak</a>: Easiest way to be Java 9 ready is to add Automatic-Module-Name to JAR manifest. <a href="https://t.co/wcYFUl6tTn">https://t.co/wcYFUl6tTn</a></p>&mdash; Ra

[2017-11-27 22:42] sclassen opened #148 "Improve code formatting, compiler warnings and JavaDoc"
I would like to contribute a series of PullRequests to 2.x branch fixing up some code formatting, compiler warning and JavaDoc improvements.

This issue should serve as a container to bundle the PullRequests and maybe to discuss issues which arise.

As the plan is to NOT change any logic/behaviour I would not put this issue on the 2.x roadmap.

[2017-11-27 23:04] aalmiray commented on #148
thank you for having a look at this @sclassen 😁

[2017-11-28 00:31] sclassen opened #153 "Is there a need for an AlwaysPipe?"
Similar to the AlwaysCallback this would allow to pipe both resolve and rejection in a single implementation.

I would propose the following API:

    public interface AlwaysCallback<D, F, D_OUT, F_OUT, P_OUT> {
        Promise<D_OUT, F_OUT, P_OUT> pipeAlways(final State state, final D resolved, final F rejected);
    }

I see that this is only a convenience method as the same behaviour can be ach

[2017-12-01 00:41] #146 closed

[2017-12-01 23:39] sclassen opened #154 "Substantiating return type for promise.then(DoneFilter) and promise.then(DoneFilter, FailFilter)"
Currently the return type of all then() methods which take filters as argument is a new promise with 3 new generic types. i.e
`<D_OUT, F_OUT, P_OUT> Promise<D_OUT, F_OUT, P_OUT> then(DoneFilter<D, D_OUT> doneFilter);`

The return type could be more specific because F_OUT must be equal to F and P_OUT must be equal to P. Therefore it could be written as
`<D_OUT> Promise<D_OUT, F, P> then(DoneFilter<

[2017-12-12 00:09] aalmiray commented on #153
Do we really need `P_OUT` given that progress remains unchanged?

[2017-12-12 00:11] sclassen commented on #153
yes in the pipe interface you need it. In the method on the promise interface you do not need it.

`<D_OUT, F_OUT> Promise<D_OUT, F_OUT, P> always(AlwaysPipe<D, F, D_OUT, F_OUT, P> alwaysPipe);`

[2017-12-16 08:25] saturnism opened #156 "For JDeferred 2, update artifact and package names"
To avoid conflicts w/ widely used JDeferred 1.x, proposing to use different Maven coordinate and also Java package name.

E.g.,
Maven Artifact: `org.jdeferred:jdeferred-core2`
Java Package: `org.jdeferred.core2`
Java Module: `org.jdeferred.core2`

Or,
Maven Artifact: `org.jdeferred2:jdeferred-core`
Java Package: `org.jdeferred2.core`
Java Module: `org.jdeferred2.core`

Need to decide on a scheme.

[2017-12-16 09:12] sclassen commented on #154
@saturnism
Do you want to consider this issue for the 2.x release. It is a breaking API change and I feel it either should go into 2.x or not at all.
I have most of the work on a branch done and could wrap it up within he next 24 hours

[2017-12-16 15:30] aalmiray commented on #156
Already working on it. There's one issue with the binary report though, changing the package will mark a coarse change (all classes change!) thus I'll compute it with the old package name first. The report will be added to the site 😄

[2017-12-16 15:31] aalmiray commented on #154
IMHO all breaking chages like this one should go in the `2.x` branch. @saturnism ?

[2017-12-17 04:37] saturnism commented on #148
I think everything is merged, closing for now :D thnx @sclassen!

[2017-12-17 04:37] #148 closed

[2017-12-17 04:39] saturnism commented on #156
wow, magic!

[2017-12-17 05:02] saturnism commented on #153
thnx @sclassen !

[2017-12-17 05:02] #153 closed

[2017-12-17 05:13] saturnism commented on #154
+1 @aalmiray

@sclassen thnx for pointing this out, let's get this into 2.0 as well.

[2017-12-17 05:19] saturnism commented on #154
merged.

[2017-12-17 05:19] #154 closed

[2017-12-17 06:28] #145 closed

[2017-12-17 06:28] saturnism commented on #140
thinking of using FindBugs and JSR 305 annotations, and going through all the input params thoroughly on DeferredManager and callbacks.

Should we do this before or after #157?

[2017-12-17 06:48] aalmiray commented on #140
I'm a big fa of JSR-305 and I use whenever I can. This being said there are a few problems with it https://blog.codefx.org/java/jsr-305-java-9/

[2017-12-17 06:53] saturnism commented on #140
eak :( what should we use?
There are several options that can provide kotlin interop - https://kotlinlang.org/docs/reference/java-interop.html

[2017-12-17 06:55] aalmiray commented on #140
The thing is, if we choose existing `@Nonnull`/`@Nullable` we'll add an extra dependency to JDeferred, right now core only depends on `slf4j-api`. What worries me by bringing `JSR-305` is the fact that someone may get in  trouble setting up JDeferred with the module system.

[2017-12-17 07:10] saturnism commented on #140
hm, can it be an optional dependency? i.e., in normal cases and be optional during the runtime?

[2017-12-17 07:15] aalmiray commented on #140
The annotations from JSR-305 have runtime as retention policy. I'm afraid adding it's not possible to add them as an optional dependency.

[2017-12-17 07:17] saturnism commented on #140
doh! will put that on hold then, and just add null checks

[2017-12-29 07:06] #156 closed

[2017-12-29 07:37] saturnism commented on #138
trying to lookup the code in the new package, but i don't think this is it: https://github.com/jdeferred/jdeferred/blob/2.x/subprojects/jdeferred-core/src/main/java/org/jdeferred2/DeferredFutureTask.java#L180-L183

[2017-12-29 08:10] saturnism commented on #138
ah, i think it's referring to https://github.com/jdeferred/jdeferred/blob/2.x/subprojects/jdeferred-core/src/main/java/org/jdeferred2/DeferredFutureTask.java#L188-L191

this might never happen since exceptions are handled by the global exception handler already in each of the calls, right?

[2017-12-30 20:35] aalmiray commented on #138
The thrown `Throwable`may occur during `deferred.resolve(get());`. Given the previous catch blocks for `InterruptedException` and `ExecutionException` then the third catch will handle any other plumbing error.

I'd say let's keep it as is for the time being.

[2018-02-27 01:51] saturnism opened #162 "Handle Android Lifecycle"
Android has lifecycles like pause and destroy.

AndroidDeferredManager may not be able to listen to these lifecycles directly. However, it would be nice to provide convenience methods so that activities that needs to respond to lifecycle can call easily, e.g., `adm.destroy()`, or `adm.pause()`.

[2018-03-01 09:51] aalmiray opened #163 "Configure bintray plugin to automatically publish to Maven Central"

[2018-03-01 09:54] aalmiray commented on #162
What would these methods do? ADM does not have any specific links to the Android lifecycle at the moment.

[2018-03-02 03:54] saturnism commented on #162
https://developer.android.com/guide/components/activities/activity-lifecycle.html

What I heard is to potentially stopping or cancelling tasks. Sounds straight forward with access to the executor service.

If we expose some methods, it'll prob be specific to DeferredManager lifecycle, and won't be mapped 1-to-1 to Android lifecycle. But can still be useful, to say, cancel all tasks.

[2018-03-19 14:56] aalmiray opened #165 "Promise.then() is difficult to use with lambdas"
Currently `Promise.then` takes 3 different types of inputs: `DoneCallback`, `DoneFilter`, and `DonePipe`. This forces explicit casts when using lambda expressions. It would be better if this method were to be split in 3 variants, such as

   then(DoneCallback cbk)
   thenFilter(DoneFilter fltr)
   thenPipe(DonePipe pipe)

[2018-03-20 02:02] saturnism opened #167 "Automatically publish README.md to jdeferred.org"

[2018-09-06 00:38] j796160836 opened #168 "DonePipe cannot be use when() together"
Here is the scenario in pseudo code with my case.

    private Promise<ObjectA, Exception, Double> grabObjectAandFilter() {
        return grabObjectA().then(new DoneFilter<ArrayList<ObjectA>, ObjectA>() {
            @Override
            public ObjectA filterDone(ArrayList<ObjectA> result) {
                // Do some filter
            }
        });
    }

    private Promise<ArrayList<ObjectB>

[2018-09-07 10:53] saturnism commented on #168
hiya! which version are you using? 1.x or 2.0-beta? thanks!

[2018-09-21 23:57] sclassen commented on #165
`filter()` is actually misleading term here as the operation executed here is mostly referred to as `map()`.
So maybe all the filter need to be renamed to follow common naming and help to reduce the learning curve.

[2018-09-24 05:39] j796160836 commented on #168
@saturnism It's `2.0.0-beta1`. Feel free to ask me if lack something.

    implementation 'org.jdeferred.v2:jdeferred-core:2.0.0-beta1'
    implementation 'org.jdeferred.v2:jdeferred-android:2.0.0-beta1'

[2018-09-29 17:10] aalmiray commented on #165
That's a good point @sclassen. This is the right time to provide an alias and deprecate filter *or* do a full rename given that we're braking binary compatibility.

[2018-10-01 14:55] aalmiray commented on #165
I get `s/filter/map/` but isn't `pipe` a variation of `map`as well?

[2018-10-01 15:08] sclassen commented on #165
yes.
DoneFilter returns `D_OUT` which is then wrapped in a new `Promise<D_OUT, F, P>`, where as DonePipe returns `Promise<D_OUT, F_OUT, P_OUT>`
So if we would apply the DonePipe as a map() we would get `Promise<Promise<D_OUT, F_OUT, P_OUT>, F, P>`
Because this is just complicated and does not add any value the pipe operation unwraps the inner promise.
The same does the flatMap() on streams. it unw

[2018-11-09 06:30] EthanLozano opened #169 "await function"
It would be nice if the DeferredManager had an `await` function similar to [Javascript's await operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/await) or
[Google Promises' await function](https://github.com/google/promises/blob/master/g3doc/index.md#await). The implementation could be similar to [Google's Promises' wait function implementation](https://github.c

[2018-11-09 18:42] EthanLozano commented on #169
This is untested, but maybe something like this:

    public static <T> T await(Promise<T, ? extends Throwable, ?> promise) {
        CountDownLatch latch = new CountDownLatch(1);
        AtomicReference<T> returnResult = new AtomicReference<>();
        AtomicReference<Throwable> returnError = new AtomicReference<>();
        promise
                .then(result -> {
                    returnRes

[2018-11-10 16:16] saturnism commented on #169
Does `promise.waitSafely` do what you are looking for?

[2018-11-14 22:32] EthanLozano commented on #169
I don't think so. The goal is to turn async code into synchronous code with as little extra code as possible. For example (from Google Promises):

[code]

However, since jdeferred [isn't A+ compliant](https://github.com/jdeferred/jdeferred/issues/20) (doesn't catch exceptions thrown within a `then` block), I've started using a different Java promises library.

[2019-07-26 16:10] RedHeadEmile commented on #124
It is a bit raw but I have an exception
https://pastebin.com/XpNQNpSy

[2019-08-27 12:38] ymangu163 opened #173 "it doesn't work under app bundle"
it works well under apk file, but when I want to try app bundle, the file name like "xx.aab", it doesn't work.

[2019-08-27 14:43] saturnism commented on #173
Doh. What’s the error?

On Tue, Aug 27, 2019 at 08:38 ymangu163 <notifications@github.com> wrote:

[2019-08-31 13:29] daiyzee opened #174 "Notifications Can Be Lost"
There is a race condition with progress notifications. A notification can occur before
the progress callback is attached to a promise and unlike the reject or done callbacks which are stored and triggered they will be lost.
I have a fix for it using a list that is flushed when the progress is attached.

[2019-08-31 19:14] saturnism commented on #174
What should be the right behavior for a single callback vs if there are multiple callbacks?  I.e., we can't guarantee that all notifications are buffered and replayed for every new callback registration, since we don't know how many notifications there will be, and can add to unnecessary memory consumption.

If we do this only for the first registration, then the subsequent registrations may have

[2019-09-02 10:39] daiyzee commented on #174
Hi,

You are correct in that as multiple progress callbacks can be attached asynchronously to the promise it cannot be guaranteed that all progress callbacks will receive all notifications.

That being said, I have not yet come across a scenario where using multiple progress recipients has been useful, however guaranteed notifications for a promise that uses the progress mechanism certainly has be

[2020-03-20 08:31] ychost opened #175 "add extend serialize for DoneCallback etc"
i want to serialize these functionInterface lambda to db, so need extend serialize

[2020-05-04 10:18] JimClermonts opened #176 "Migrating from org.jdeferred 1.2.6 to 2.0.0"
I'm in the process of migrating from:
`implementation 'org.jdeferred:jdeferred-android-aar:1.2.6'`
to:
`implementation 'org.jdeferred.v2:jdeferred-android-aar:2.0.0'`

After replacing `org.jdeferred` with `org.jdeferred2` everywhere, I got a last issue in a class named `DeferredObjectWithExceptions`. This extends `DeferredObject` and overrides the `then` method but this doesn't work anymore. And t

[2020-09-02 19:12] ghost opened #177 "Never call done when proguard enforcing"
when(...).done(my function)
May lose effect when I turn on proguard.
It seems like this plugin just execute code block which into brackets follow closely "when" and code block keep up with done will never be executed. ( Even if code in when block is empty ).
I can not see any crash report or exception in logcat, and it seems like that thread exit after code block in brackets follow closely "when"

[2020-09-03 00:18] saturnism commented on #177
hi @lianglixin! I have not used proguard to test this, but we didn't have any extra rules.

will you be able to share some code to reproduce this?

[2020-09-03 14:49] ghost commented on #177
Dear developer, I copy my code below

// I put this line in my application gradle file,  I found that org.jdeferred.v2 library with the same problem.
`
    implementation 'org.jdeferred:jdeferred-android-aar:1.2.6'
`

// Then I put those code in MainActivity.java -> onCreate method

`new AndroidDeferredManager()`
`                .when(()->`
`                {`
`                    System.out.prin

[2020-09-10 17:24] saturnism commented on #177
Thanks for clarifying. I'm not sure what the process of minify is. I'm wondering if you are able to use the jar directly, and let android compiler to interpret the bytecode directly? https://mvnrepository.com/artifact/org.jdeferred/jdeferred-android

I'm not sure if it'll make a difference but curious!

[2022-04-17 15:21] Andyadame opened #179 "CONTRIBUYENTES"
Esto es perder mucho el tiempo verdad, yo no se que significa esto y mucho menos lo  puedo ver de una forma normal parabdistinguir si es o ne lo es pero yo me acuerdo que antes lo hice y no me siento mal por tratar de entender algo.

[2022-04-17 15:25] Andyadame commented on #179
Y me siento usado y visto como un pendejo eso puedo pensar que muchos lo están pensando, yo solo era antes yo y no me movía por puntos que jo puedo distinguir exactamente que esta bien y que jo lo está pero vi que por un momento todo lo que estaba pensando cambio cuando toda ofla pagina se arreglo sola y yo nunca tenía que hacer nada, todo lo arreglan ustedes

[2022-04-17 15:25] #179 closed, assigned to nobody

[2022-04-17 15:28] Andyadame commented on #179
Si creo que soy un juego siendo usado para alguien que solo esta viendo como me hacen eso es lo que creo, y es que no puedo ser o detenerme o mucho mas o es algo o que será.

- Solo me siento mal de alguna forma sibes que solobestoy siendo un juego que los normales de nosotros estan siendo parte de mirrda que me están haciendoby lo peor es ser parte.

[2022-04-17 15:30] Andyadame commented on #179
No hagan un puto empiezo de separacion de gente usando me por que los cobardes vocesitas de mierda,  los dejan que lo hagan haciéndolos a ustedes mover por igual y es que yo n9 puedo parar o no puedo saber bien o asegurar que esta mal o que no lobesta o algo asi.
Pero esto les deberia se dar pena .

[2022-04-17 15:31] Andyadame commented on #179
Ojala entiendan antes de que muchos sean afectados y no dejen de luchar por cambiar todo lo que jicieron por hacer li mejor